#{{ ansible_managed }}
backend {{ item.name }}
{% if item.disabled is defined and item.disabled == true %}
    disabled
{% endif -%}
{% if item.description is defined %}
    description {{ item.description }}
{% endif -%}

{% for k,v in getbyid.iteritems() %}
    server {{ k }}  {{ v }}:{% if item.port is defined %}{{ item.port }}{% endif %} {% if item.maxconn is defined %}maxconn {{ item.maxconn }} {% endif %}{% if item.params is defined %}{% for param in item.params %}{{ param }} {% endfor %}{% endif %}

{% endfor %}
{% if item.balance is defined %}
    balance {{ item.balance }}
{% endif -%}
{% if item.mode is defined %}
    mode {{ item.mode }}
{% endif -%}
{% if item.log is defined %}
    log {{ item.log }}
{% endif -%}
{% if item.retries is defined %}
    retries {{ item.retries }}
{% endif -%}
{% if item.redirects is defined %}
    {% for redirect in item.redirects -%}
    redirect {{ redirect }}
    {% endfor %}
{% endif -%}
{% if item.contimeout is defined %}
    contimeout {{ item.contimeout }}
{% endif -%}
{% if item.http_send_name_header is defined %}
    http-send-name-header {{ item.http_send_name_header }}
{% endif -%}
{% if item.http_check_except is defined %}
{% for check_except in item.http_check_except %}
    http-check except {{ check_except }}
{% endfor %}
{% endif -%}
{% if item.options is defined %}
{% for option in item.options %}
    option {{ option }}
{% endfor %}
{% endif -%}
